<!doctype html>
<html ng-app="myApp">

<head>
    <title>Employees From Different Departments</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body ng-controller="myController as employeesList" class="ng-cloak">
    <div class="container-fluid">
        <h2>List of departments</h2>
        <br>
        <button type="button" class="btn btn-info" ng-click="addDepartment(dataDepartment)">Add</button>
        <button type="button" class="btn btn-warning" ng-click="editDepartment(dataDepartment)">Edit</button>
        <button type="button" class="btn btn-danger" ng-click="delDepartment(dataDepartment)" title="You will delete the last department" data-placement="right">Delete</button>
        <br>
        <br>
        <form id="myForm" ng-model="clearRadio">
            <ul class="list-group col-md-10">
                <input class="form-control" type="text" placeholder="Enter Department Name" ng-model="dataDepartment">
                <li ng-repeat="department in departments" ng-show="department._id !== undefined">
                    <h3>{{department._id}}</h3>

                    <input type="radio" name="departmentGroup" ng-click="getIndex(department._id)">
                    <button type="button" class="btn btn-success" ng-click="showList = !showList">To List</button>
                    <ol>
                        <li class="list-group-item" ng-repeat="name in department.names" ng-show="showList">{{name}}</li>
                    </ol>

                </li>
            </ul>
        </form>
    </div>
    <script src="module.js"></script>
    <script src="service.js"></script>
    <script src="controller.js"></script>
</body>

</html>